* {
    margin: 0;
    padding: 0;
    /*Account for the margin and padding in the element width and height*/
    box-sizing: border-box;
}

/* CSS flexbox layout, allows for responsive design. Expands items to fill free space, or shrinks due to overflow.
display: flex defines a flex container, and allows flex content for all of the direct children.
*/
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

.sidebar {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 25%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: black;
    overflow-wrap: break-word;
}

.sidebar h1 {
    margin: 10px 0px;
}

.site {
    height: 30%;
    width: 100%;
    top: 0px;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}